@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
}

@layer components {
  .contact-label {
    @apply block mb-2 text-sm font-medium text-darkGrayishBlue;
  }
  
  .contact-input {
    @apply block w-full p-2 text-sm border rounded-lg shadow-sm bg-white border-grayishBlue text-darkGrayishBlue focus:ring focus:ring-grayishBlue focus:border-grayishBlue;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.section-content {
  @apply max-w-3xl mx-auto leading-9 text-center text-grayishBlue;
}

.button-container {
  @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

.link-button {
  @apply px-8 py-5 duration-200 rounded-full shadow-xl hover:opacity-80;
}

.paragraph-item {
  @apply max-w-md text-grayishBlue;
}

.footer-menu {
  @apply flex flex-col space-y-4 text-center md:text-left;
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}

.main-container {
  @apply flex flex-col justify-center min-h-screen overflow-hidden;
}

.faq-title {
  @apply flex items-center justify-between w-full py-2 font-semibold text-left text-darkGrayishBlue;
}

.faq-svg {
  @apply ml-8 fill-strongCyan shrink-0;
}

.faq-rect {
  @apply transition duration-200 ease-in-out origin-center transform;
}

.faq-content {
  @apply grid overflow-hidden text-sm transition-all duration-200 ease-in-out text-grayishBlue;
}

/* smooth scrolling with customization */
/* Apply smooth scroll to all anchor links */
html {
  scroll-behavior: smooth;
  transition: 0.8s ease-in-out;
}
body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
